@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
label {
  color: #ffffff;
  font-family: 'Teko';
}
select {
  color: #ffffff;
  font-family: 'Teko';
}
option {
  background-color: #1807af;
  color: #ffffff;
  font-family: 'Teko';
}
button {
  background-color: rgba(37, 186, 255, 0.4);
  color: #ffffff;
  font-family: 'Teko';
}
ol,
nav,
div #chat-form {
  background-color: rgba(37, 186, 255, 0.4);
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
ol:hover,
nav:hover,
div #chat-form:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
li {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255) !important;
  transition: box-shadow 0.3s ease-in-out !important;
  border: 1px solid rgba(79, 196, 250, 0.5) !important;
}
li:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255) !important;
}
li:hover,
li:active {
  border: 1px solid #4fc4fa !important;
}
div #chat-controls {
  background-color: rgba(37, 186, 255, 0.4);
}
#logo {
  content: url('../assets/images/orv_logo.png');
  height: 100px;
}
.window-app .window-content {
  padding: 0;
  background-image: none;
  border-radius: 10px;
  background-color: rgba(37, 186, 255, 0.4);
  color: #ffffff;
  overflow: visible;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.window-app .window-content:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.window-app .window-header {
  background-color: rgba(37, 186, 255, 0.4);
  color: #ffffff;
  padding: 0px;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  overflow: visible;
  border-radius: 10px;
}
.window-app .window-header:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.window-app .window-header a {
  background-color: none;
  font-size: 0px;
}
.window-app .window-header a i {
  background: none;
}
.window-header a i {
  background-color: rgba(37, 186, 255, 0.4);
  font-size: 14px;
}
.window-header a span {
  font-size: 14px;
}
li.chat-message.message {
  background-color: rgba(37, 186, 255, 0.4);
  background-image: none;
  border-color: #4fc4fa;
}
li.chat-message.message .message-sender {
  color: #ffffff;
}
li.chat-message.message .message-content {
  color: #ffffff;
}
li.chat-message.message .message-timestamp {
  color: #ffffff;
}
li.chat-message.message .flavor-text {
  color: #4fc4fa;
}
li.chat-message.whisper {
  background-color: rgba(37, 186, 255, 0.4);
  background-image: none;
}
li.chat-message.whisper .whisper-to {
  color: #4fc4fa;
}
.window-content.dialog-content {
  background-color: rgba(37, 186, 255, 0.4);
}
textarea {
  background-image: none !important;
  border: 0;
  color: #ffffff;
}
textarea:focus {
  box-shadow: none;
}
.sheet-tabs.tabs {
  display: flex;
  position: absolute;
  left: 100%;
  flex-direction: column;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.sheet-tabs.tabs:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.sheet-tabs.tabs > [data-tab].active {
  text-shadow: 0 0 10px #4fc4fa;
}
.sheet-tabs .item {
  padding: 5px 10px;
  cursor: pointer;
  text-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  border: none;
  box-shadow: none;
}
.sheet-tabs .item:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.edit-mode-toggle {
  width: auto;
  top: 0%;
  position: absolute;
  left: 84%;
  border: none;
  box-shadow: none;
  box-shadow: 0 0 0px rgba(37, 186, 255), 0 0 0px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Teko';
  height: fit-content;
  background-color: #ffffff00;
}
.edit-mode-toggle:hover {
  box-shadow: 0 0 0px rgba(37, 186, 255), 0 0 0px rgba(37, 186, 255);
}
.ss1e.sheet.actor.character {
  font-family: 'Teko';
}
.ss1e.sheet.actor.character .sheet-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  flex-grow: 0;
  text-align: center;
}
.ss1e.sheet.actor.character .sheet-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
}
.ss1e.sheet.actor.character .sheet-header.info {
  color: #ffffff;
  font-size: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 50%;
  padding-bottom: 25px;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana img.profile-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana img.profile-img:hover {
  box-shadow: 0 0 20px rgba(37, 186, 255), 0 0 40px rgba(37, 186, 255);
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container {
  position: absolute;
  top: 31%;
  left: 3.6%;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .hp-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .hp-block .hp-bar-container {
  width: 150px;
  height: 30px;
  background-color: #ffffff00;
  border: 1px solid #4fc4fa;
  border-bottom: 0;
  border-radius: 35% 35% 0px 0px;
  overflow: hidden;
  align-self: flex-end;
  position: relative;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .hp-block .hp-bar-container .hp-bar {
  height: 100%;
  background-color: #53b8caa6;
  transition: width 0.3s ease;
  display: flex;
  justify-content: center;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .hp-block .hp-bar-container span {
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .mana-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .mana-block .mana-bar-container {
  width: 150px;
  height: 30px;
  background-color: #ffffff00;
  border: 1px solid #4fc4fa;
  border-top: 0;
  border-radius: 0px 0px 35% 35%;
  overflow: hidden;
  position: relative;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .mana-block .mana-bar-container .mana-bar {
  height: 100%;
  background-color: #1807afa8;
  transition: width 0.3s ease;
  display: flex;
  justify-content: center;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .mana-block .mana-bar-container span {
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ss1e.sheet.actor.character .sheet-header div.info-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.ss1e.sheet.actor.character .sheet-header div.info-container label {
  font-weight: bold;
  font-size: 1.2rem;
}
.ss1e.sheet.actor.character .sheet-header div.attribute-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.ss1e.sheet.actor.character .sheet-header div.attribute-container .attributes {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.ss1e.sheet.actor.character .sheet-header div.attribute-container .attributes label {
  font-weight: bold;
  font-size: 1.2rem;
}
.ss1e.sheet.actor.character .sheet-header div.attribute-container .attributes span {
  font-weight: normal;
}
input.input-text {
  border: none;
  box-shadow: none;
  color: #ffffff;
}
input.input-text::selection {
  background-color: #1807af;
}
.sheet-body {
  font-family: 'Teko';
  display: flex;
  flex-direction: column;
}
.sheet-body .resource-label {
  text-align: center;
}
.sheet-body .stat-related {
  display: flex;
  flex-direction: row;
}
.sheet-body .stat-related .combat-stat-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 10%;
  justify-content: space-evenly;
}
.sheet-body .stat-related .combat-stat-container .combat-stat-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.sheet-body .stat-related .combat-stat-container .combat-stat-block label {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sheet-body .stat-related .combat-stat-container .combat-stat-block span {
  font-size: 1.5rem;
}
.sheet-body .stat-related .stat-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.sheet-body .stat-related .stat-container .stat {
  padding-bottom: 5px;
  align-items: center;
}
.sheet-body .stat-related .stat-container .stat .resource-label {
  flex: 1 1 10%;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sheet-body .stat-related .stat-container .stat .resource-span {
  font-size: 1.5rem;
}
.sheet-body .stat-related .stat-container .stat button {
  margin-left: 5px;
}
.sheet-body .coin-container {
  flex-direction: row;
  font-size: 1.5rem;
}
.sheet-body button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Teko';
  font-size: 1.2rem;
}
.sheet-body button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.ss1e.sheet.actor.constellation.header .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ss1e.sheet.actor.constellation.header .header.title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  flex-grow: 0;
}
.ss1e.sheet.actor.constellation.header .header.info {
  color: #ffffff;
  font-size: 1.5rem;
  align-items: flex-start;
}
.ss1e.sheet.actor.constellation.header .header.info img.profile-img {
  border: none;
  box-shadow: 0 0 10px #1807af;
  margin: 10px;
}
.ss1e.sheet.actor.constellation.header .header.info div.info-container {
  flex: 1 1 50%;
}
.ss1e.sheet.actor.constellation.header .header.info div.info-container label {
  font-weight: bold;
  font-size: 1.1rem;
}
.ss1e.sheet.actor.constellation.header .header.info div.info-container input.input-text {
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.ss1e.sheet.actor.constellation.header .header.info div.info-container input.input-text::selection {
  background-color: #1807af;
}
.ss1e.sheet.actor.constellation.actions {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  /* Prevents stretching */
  justify-content: space-between;
  /* Space items evenly without large gaps */
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-counter label {
  font-size: 1.5rem;
  color: #ffffff;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-counter input {
  font-size: 1.5rem;
  color: #ffffff;
  border: none;
  box-shadow: none;
  width: 50%;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-counter input::selection {
  background-color: #1807af;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-buttons button {
  font-size: 1.3rem;
  color: #ffffff;
  width: 50%;
  height: auto;
  box-shadow: 0 0 3px rgba(37, 186, 255), 0 0 6px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-buttons button:hover {
  box-shadow: 0 0 7px rgba(37, 186, 255), 0 0 14px rgba(37, 186, 255);
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section {
  display: flex;
  flex-direction: column;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section .message-recipient {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section label {
  font-size: 1.5rem;
  color: #ffffff;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section select {
  font-size: 1.5rem;
  color: #ffffff;
  border: none;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section select::selection {
  background-color: #1807af;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section .message-recipient-dropdown {
  padding: 0;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section .message-recipient-option {
  background-color: rgba(37, 186, 255, 0.4);
  color: #ffffff;
}
.ss1e.sheet.actor.constellation.actions .preset-message-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ss1e.sheet.actor.constellation.actions .preset-message-buttons button {
  font-size: 1rem;
  width: 20%;
  color: #ffffff;
  border: 0;
  margin: 2px;
  box-shadow: 0 0 3px rgba(37, 186, 255), 0 0 6px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.ss1e.sheet.actor.constellation.actions .preset-message-buttons button:hover {
  box-shadow: 0 0 7px rgba(37, 186, 255), 0 0 14px rgba(37, 186, 255);
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section label {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 10px;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section input {
  font-size: 1.5rem;
  color: #ffffff;
  box-shadow: none;
  border: 0;
  width: 75%;
  margin: 10px;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section input::selection {
  background-color: #1807af;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section button {
  font-size: 1.3rem;
  color: #ffffff;
  height: auto;
  width: 50%;
  margin: 10px;
  box-shadow: 0 0 3px rgba(37, 186, 255), 0 0 6px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section button:hover {
  box-shadow: 0 0 7px rgba(37, 186, 255), 0 0 14px rgba(37, 186, 255);
}
.constellation-sheet-button {
  font-family: 'Teko';
}
.actor-sheet-label,
.actor-sheet-input {
  font-family: 'Teko';
}
.weapon-top-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
}
.weapon-top-section .weapon-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.weapon-top-section .weapon-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.weapon-top-section .weapon-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.weapon-top-section .weapon-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.weapon-top-section .weapon-title input::selection {
  background-color: #1807af;
}
.weapon-top-section .weapon-title .weapon-name {
  font-size: 2rem;
}
.weapon-top-section .weapon-title .weapon-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.weapon-bottom-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
}
.weapon-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.weapon-bottom-section .stats .requirement,
.weapon-bottom-section .stats .damage,
.weapon-bottom-section .stats .accuracy,
.weapon-bottom-section .stats .range {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.weapon-bottom-section .stats .requirement input,
.weapon-bottom-section .stats .damage input,
.weapon-bottom-section .stats .accuracy input,
.weapon-bottom-section .stats .range input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.weapon-bottom-section .stats .requirement input::selection,
.weapon-bottom-section .stats .damage input::selection,
.weapon-bottom-section .stats .accuracy input::selection,
.weapon-bottom-section .stats .range input::selection {
  background-color: #1807af;
}
.weapon-bottom-section .stats .requirement label,
.weapon-bottom-section .stats .damage label,
.weapon-bottom-section .stats .accuracy label,
.weapon-bottom-section .stats .range label {
  font-weight: bold;
  font-size: 1.1rem;
}
.weapon-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.weapon-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Teko';
  height: fit-content;
}
.weapon-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.equipment-top-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
}
.equipment-top-section .equipment-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.equipment-top-section .equipment-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.equipment-top-section .equipment-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.equipment-top-section .equipment-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.equipment-top-section .equipment-title input::selection {
  background-color: #1807af;
}
.equipment-top-section .equipment-title .equipment-name {
  font-size: 2rem;
}
.equipment-top-section .equipment-title .equipment-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.equipment-bottom-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
}
.equipment-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.equipment-bottom-section .stats .requirement,
.equipment-bottom-section .stats .defense {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.equipment-bottom-section .stats .requirement input,
.equipment-bottom-section .stats .defense input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.equipment-bottom-section .stats .requirement input::selection,
.equipment-bottom-section .stats .defense input::selection {
  background-color: #1807af;
}
.equipment-bottom-section .stats .requirement label,
.equipment-bottom-section .stats .defense label {
  font-weight: bold;
  font-size: 1.1rem;
}
.equipment-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.equipment-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Teko';
  height: fit-content;
}
.equipment-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.ammo-top-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
}
.ammo-top-section .ammo-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.ammo-top-section .ammo-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.ammo-top-section .ammo-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.ammo-top-section .ammo-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.ammo-top-section .ammo-title input::selection {
  background-color: #1807af;
}
.ammo-top-section .ammo-title .ammo-name {
  font-size: 2rem;
}
.ammo-top-section .ammo-title .ammo-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.ammo-bottom-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
}
.ammo-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.ammo-bottom-section .stats .requirement,
.ammo-bottom-section .stats .damage,
.ammo-bottom-section .stats .accuracy,
.ammo-bottom-section .stats .range {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.ammo-bottom-section .stats .requirement input,
.ammo-bottom-section .stats .damage input,
.ammo-bottom-section .stats .accuracy input,
.ammo-bottom-section .stats .range input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.ammo-bottom-section .stats .requirement input::selection,
.ammo-bottom-section .stats .damage input::selection,
.ammo-bottom-section .stats .accuracy input::selection,
.ammo-bottom-section .stats .range input::selection {
  background-color: #1807af;
}
.ammo-bottom-section .stats .requirement label,
.ammo-bottom-section .stats .damage label,
.ammo-bottom-section .stats .accuracy label,
.ammo-bottom-section .stats .range label {
  font-weight: bold;
  font-size: 1.1rem;
}
.ammo-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.ammo-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Teko';
  height: fit-content;
}
.ammo-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.accessory-top-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
}
.accessory-top-section .accessory-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.accessory-top-section .accessory-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.accessory-top-section .accessory-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.accessory-top-section .accessory-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.accessory-top-section .accessory-title input::selection {
  background-color: #1807af;
}
.accessory-top-section .accessory-title .accessory-name {
  font-size: 2rem;
}
.accessory-top-section .accessory-title .accessory-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.accessory-bottom-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
}
.accessory-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.accessory-bottom-section .stats .bonus {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.accessory-bottom-section .stats .bonus input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.accessory-bottom-section .stats .bonus input::selection {
  background-color: #1807af;
}
.accessory-bottom-section .stats .bonus label {
  font-weight: bold;
  font-size: 1.1rem;
}
.accessory-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.accessory-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Teko';
  height: fit-content;
}
.accessory-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.consumable-top-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
}
.consumable-top-section .consumable-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.consumable-top-section .consumable-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.consumable-top-section .consumable-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.consumable-top-section .consumable-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.consumable-top-section .consumable-title input::selection {
  background-color: #1807af;
}
.consumable-top-section .consumable-title .consumable-name {
  font-size: 2rem;
}
.consumable-top-section .consumable-title .consumable-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.consumable-bottom-section {
  font-family: 'Teko';
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
}
.consumable-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.consumable-bottom-section .stats .quantity,
.consumable-bottom-section .stats .effect {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.consumable-bottom-section .stats .quantity input,
.consumable-bottom-section .stats .effect input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.consumable-bottom-section .stats .quantity input::selection,
.consumable-bottom-section .stats .effect input::selection {
  background-color: #1807af;
}
.consumable-bottom-section .stats .quantity label,
.consumable-bottom-section .stats .effect label {
  font-weight: bold;
  font-size: 1.1rem;
}
.consumable-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.consumable-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Teko';
  height: fit-content;
}
.consumable-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
