@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN9JG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8XG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN8lG7Sy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_JHLSy.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/teko/v20/LYjYdG7kmE0gV69VVPPdFl06VN_wHLSy.ttf) format('truetype');
}
.ss1e.sheet.actor.character .character-inventory .sheet-inventory .item-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}
.ss1e.sheet.actor.character .character-inventory .sheet-inventory .item-container button {
  aspect-ratio: 1/2;
  height: 50%;
  width: 50%;
  position: relative;
}
.ss1e.sheet.actor.character .character-inventory .sheet-inventory .item-container button img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border: 0;
}
.ss1e.sheet.actor.character .character-inventory .sheet-inventory .item-container button:hover::after {
  content: attr(title);
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 325%);
  background-color: rgba(83, 178, 241, 0.7);
  color: #ffffff;
  border-radius: 10%;
  font-size: 0.75rem;
  width: 100%;
  height: 25%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.ss1e.sheet.actor.character .character-inventory .sheet-inventory .item-container button:hover::after:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.ss1e.sheet.actor.character .character-inventory .sheet-inventory .item-container button::after {
  opacity: 0;
  visibility: hidden;
}
.ss1e.sheet.actor.character .sheet-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  flex-grow: 0;
  text-align: center;
}
.ss1e.sheet.actor.character .sheet-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
}
.ss1e.sheet.actor.character .sheet-header.info {
  color: #ffffff;
  font-size: 1.5rem;
  align-items: stretch;
  justify-content: space-between;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana img.profile-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana img.profile-img:hover {
  box-shadow: 0 0 20px rgba(37, 186, 255), 0 0 40px rgba(37, 186, 255);
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container {
  position: relative;
  bottom: 30px;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .hp-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .hp-block .hp-bar-container {
  width: 150px;
  height: 30px;
  background-color: #ffffff00;
  border: 1px solid #4f8cde;
  border-bottom: 0;
  border-radius: 35% 35% 0px 0px;
  overflow: hidden;
  align-self: flex-end;
  position: relative;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .hp-block .hp-bar-container .hp-bar {
  height: 100%;
  background-color: #b84b4ba4;
  transition: width 0.3s ease;
  display: flex;
  justify-content: center;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .hp-block .hp-bar-container span {
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .mana-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .mana-block .mana-bar-container {
  width: 150px;
  height: 30px;
  background-color: #ffffff00;
  border: 1px solid #4f8cde;
  border-top: 0;
  border-radius: 0px 0px 35% 35%;
  overflow: hidden;
  position: relative;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .mana-block .mana-bar-container .mana-bar {
  height: 100%;
  background-color: #3a2db3a8;
  transition: width 0.3s ease;
  display: flex;
  justify-content: center;
}
.ss1e.sheet.actor.character .sheet-header.info .pfp-hp-mana .hp-mana-container .mana-block .mana-bar-container span {
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ss1e.sheet.actor.character .sheet-header div.info-container {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding-left: 5px;
}
.ss1e.sheet.actor.character .sheet-header div.info-container label {
  font-weight: bold;
  font-size: 1.2rem;
}
.ss1e.sheet.actor.character .sheet-header div.attribute-container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 180px;
  padding-left: 5px;
}
.ss1e.sheet.actor.character .sheet-header div.attribute-container .attributes {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.ss1e.sheet.actor.character .sheet-header div.attribute-container .attributes label {
  font-weight: bold;
  font-size: 1.2rem;
}
.ss1e.sheet.actor.character .sheet-header div.attribute-container .attributes span {
  font-weight: normal;
}
input.input-text {
  border: none;
  box-shadow: none;
  color: #ffffff;
}
input.input-text::selection {
  background-color: #6ed0fd;
}
.body {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.body .resource-label {
  text-align: center;
}
.body .stat-related {
  display: flex;
  flex-direction: row;
}
.body .stat-related .combat-stat-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 10%;
  justify-content: space-evenly;
}
.body .stat-related .combat-stat-container .combat-stat-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 50%;
}
.body .stat-related .combat-stat-container .combat-stat-block label {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
}
.body .stat-related .combat-stat-container .combat-stat-block span {
  font-size: 1.5rem;
  width: 60px;
  text-align: end;
}
.body .stat-related .stat-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.body .stat-related .stat-container .stat-flexrow {
  display: flex;
  flex-direction: row;
}
.body .stat-related .stat-container .stat-flexrow .combat-stat-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 50%;
}
.body .stat-related .stat-container .stat-flexrow .combat-stat-block label {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 115px;
}
.body .stat-related .stat-container .stat-flexrow .combat-stat-block span {
  font-size: 1.5rem;
  width: 60px;
  text-align: end;
}
.body .stat-related .stat-container .stat-flexrow button {
  margin: 5px;
  flex: 0 1 10%;
}
.body .coin-container {
  flex-direction: row;
  font-size: 1.5rem;
}
.body button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-size: 1.2rem;
}
.body button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.bottom {
  display: flex;
  flex-direction: row;
}
.bottom .favorite-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.bottom .quick-actions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.bottom .quick-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-size: 1.2rem;
  margin: 5px;
  width: 140px;
  text-transform: uppercase;
}
.bottom .quick-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.ss1e.sheet.actor.constellation.header .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ss1e.sheet.actor.constellation.header .header.title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  flex-grow: 0;
}
.ss1e.sheet.actor.constellation.header .header.info {
  color: #ffffff;
  font-size: 1.5rem;
  align-items: flex-start;
}
.ss1e.sheet.actor.constellation.header .header.info img.profile-img {
  border: none;
  box-shadow: 0 0 10px #6ed0fd;
  margin: 10px;
}
.ss1e.sheet.actor.constellation.header .header.info div.info-container {
  flex: 1 1 50%;
}
.ss1e.sheet.actor.constellation.header .header.info div.info-container label {
  font-weight: bold;
  font-size: 1.1rem;
}
.ss1e.sheet.actor.constellation.header .header.info div.info-container input.input-text {
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.ss1e.sheet.actor.constellation.header .header.info div.info-container input.input-text::selection {
  background-color: #6ed0fd;
}
.ss1e.sheet.actor.constellation.actions {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  /* Prevents stretching */
  justify-content: space-between;
  /* Space items evenly without large gaps */
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-counter label {
  font-size: 1.5rem;
  color: #ffffff;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-counter input {
  font-size: 1.5rem;
  color: #ffffff;
  border: none;
  box-shadow: none;
  width: 50%;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-counter input::selection {
  background-color: #6ed0fd;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-buttons button {
  font-size: 1.3rem;
  color: #ffffff;
  width: 50%;
  height: auto;
  box-shadow: 0 0 3px rgba(37, 186, 255), 0 0 6px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.coins div.coin-buttons button:hover {
  box-shadow: 0 0 7px rgba(37, 186, 255), 0 0 14px rgba(37, 186, 255);
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section {
  display: flex;
  flex-direction: column;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section .message-recipient {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section label {
  font-size: 1.5rem;
  color: #ffffff;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section select {
  font-size: 1.5rem;
  color: #ffffff;
  border: none;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section select::selection {
  background-color: #6ed0fd;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section .message-recipient-dropdown {
  padding: 0;
}
.ss1e.sheet.actor.constellation.actions .ss1e.sheet.actor.constellation.messages .message-top-section .message-recipient-option {
  background-color: rgba(83, 178, 241, 0.7);
  color: #ffffff;
}
.ss1e.sheet.actor.constellation.actions .preset-message-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ss1e.sheet.actor.constellation.actions .preset-message-buttons button {
  font-size: 1rem;
  width: 20%;
  color: #ffffff;
  border: 0;
  margin: 2px;
  box-shadow: 0 0 3px rgba(37, 186, 255), 0 0 6px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.ss1e.sheet.actor.constellation.actions .preset-message-buttons button:hover {
  box-shadow: 0 0 7px rgba(37, 186, 255), 0 0 14px rgba(37, 186, 255);
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section label {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 10px;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section input {
  font-size: 1.5rem;
  color: #ffffff;
  box-shadow: none;
  border: 0;
  width: 75%;
  margin: 10px;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section input::selection {
  background-color: #6ed0fd;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section button {
  font-size: 1.3rem;
  color: #ffffff;
  height: auto;
  width: 50%;
  margin: 10px;
  box-shadow: 0 0 3px rgba(37, 186, 255), 0 0 6px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.ss1e.sheet.actor.constellation.actions .message-bottom-section button:hover {
  box-shadow: 0 0 7px rgba(37, 186, 255), 0 0 14px rgba(37, 186, 255);
}
.weapon-top-section {
  display: flex;
  flex-direction: row;
}
.weapon-top-section .weapon-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.weapon-top-section .weapon-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.weapon-top-section .weapon-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.weapon-top-section .weapon-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.weapon-top-section .weapon-title input::selection {
  background-color: #6ed0fd;
}
.weapon-top-section .weapon-title .weapon-name {
  font-size: 2rem;
}
.weapon-top-section .weapon-title .weapon-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.weapon-bottom-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
  justify-content: space-around;
}
.weapon-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.weapon-bottom-section .stats .requirement,
.weapon-bottom-section .stats .damage,
.weapon-bottom-section .stats .accuracy,
.weapon-bottom-section .stats .range {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.weapon-bottom-section .stats .requirement input,
.weapon-bottom-section .stats .damage input,
.weapon-bottom-section .stats .accuracy input,
.weapon-bottom-section .stats .range input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.weapon-bottom-section .stats .requirement input::selection,
.weapon-bottom-section .stats .damage input::selection,
.weapon-bottom-section .stats .accuracy input::selection,
.weapon-bottom-section .stats .range input::selection {
  background-color: #6ed0fd;
}
.weapon-bottom-section .stats .requirement label,
.weapon-bottom-section .stats .damage label,
.weapon-bottom-section .stats .accuracy label,
.weapon-bottom-section .stats .range label {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.weapon-bottom-section .stats .requirement span,
.weapon-bottom-section .stats .damage span,
.weapon-bottom-section .stats .accuracy span,
.weapon-bottom-section .stats .range span {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.weapon-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.weapon-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  height: fit-content;
}
.weapon-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.equipment-top-section {
  display: flex;
  flex-direction: row;
}
.equipment-top-section .equipment-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.equipment-top-section .equipment-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.equipment-top-section .equipment-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.equipment-top-section .equipment-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.equipment-top-section .equipment-title input::selection {
  background-color: #6ed0fd;
}
.equipment-top-section .equipment-title .equipment-name {
  font-size: 2rem;
}
.equipment-top-section .equipment-title .equipment-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.equipment-bottom-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
}
.equipment-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.equipment-bottom-section .stats .requirement,
.equipment-bottom-section .stats .defense {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.equipment-bottom-section .stats .requirement input,
.equipment-bottom-section .stats .defense input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.equipment-bottom-section .stats .requirement input::selection,
.equipment-bottom-section .stats .defense input::selection {
  background-color: #6ed0fd;
}
.equipment-bottom-section .stats .requirement label,
.equipment-bottom-section .stats .defense label {
  font-weight: bold;
  font-size: 1.1rem;
}
.equipment-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.equipment-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  height: fit-content;
}
.equipment-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.ammo-top-section {
  display: flex;
  flex-direction: row;
}
.ammo-top-section .ammo-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.ammo-top-section .ammo-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.ammo-top-section .ammo-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.ammo-top-section .ammo-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.ammo-top-section .ammo-title input::selection {
  background-color: #6ed0fd;
}
.ammo-top-section .ammo-title .ammo-name {
  font-size: 2rem;
}
.ammo-top-section .ammo-title .ammo-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.ammo-bottom-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
}
.ammo-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.ammo-bottom-section .stats .requirement,
.ammo-bottom-section .stats .damage,
.ammo-bottom-section .stats .accuracy,
.ammo-bottom-section .stats .range {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.ammo-bottom-section .stats .requirement input,
.ammo-bottom-section .stats .damage input,
.ammo-bottom-section .stats .accuracy input,
.ammo-bottom-section .stats .range input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.ammo-bottom-section .stats .requirement input::selection,
.ammo-bottom-section .stats .damage input::selection,
.ammo-bottom-section .stats .accuracy input::selection,
.ammo-bottom-section .stats .range input::selection {
  background-color: #6ed0fd;
}
.ammo-bottom-section .stats .requirement label,
.ammo-bottom-section .stats .damage label,
.ammo-bottom-section .stats .accuracy label,
.ammo-bottom-section .stats .range label {
  font-weight: bold;
  font-size: 1.1rem;
}
.ammo-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.ammo-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  height: fit-content;
}
.ammo-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.accessory-top-section {
  display: flex;
  flex-direction: row;
}
.accessory-top-section .accessory-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.accessory-top-section .accessory-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.accessory-top-section .accessory-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.accessory-top-section .accessory-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.accessory-top-section .accessory-title input::selection {
  background-color: #6ed0fd;
}
.accessory-top-section .accessory-title .accessory-name {
  font-size: 2rem;
}
.accessory-top-section .accessory-title .accessory-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.accessory-bottom-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
}
.accessory-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.accessory-bottom-section .stats .bonus {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.accessory-bottom-section .stats .bonus input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.accessory-bottom-section .stats .bonus input::selection {
  background-color: #6ed0fd;
}
.accessory-bottom-section .stats .bonus label {
  font-weight: bold;
  font-size: 1.1rem;
}
.accessory-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.accessory-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  height: fit-content;
}
.accessory-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.consumable-top-section {
  display: flex;
  flex-direction: row;
}
.consumable-top-section .consumable-img {
  border: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
.consumable-top-section .consumable-img:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.consumable-top-section .consumable-title {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.consumable-top-section .consumable-title input {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.consumable-top-section .consumable-title input::selection {
  background-color: #6ed0fd;
}
.consumable-top-section .consumable-title .consumable-name {
  font-size: 2rem;
}
.consumable-top-section .consumable-title .consumable-rarity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.consumable-bottom-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 50%;
}
.consumable-bottom-section .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.consumable-bottom-section .stats .quantity,
.consumable-bottom-section .stats .effect {
  display: flex;
  flex-direction: row;
  flex: auto;
}
.consumable-bottom-section .stats .quantity input,
.consumable-bottom-section .stats .effect input {
  margin: 3px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: none;
  box-shadow: none;
}
.consumable-bottom-section .stats .quantity input::selection,
.consumable-bottom-section .stats .effect input::selection {
  background-color: #6ed0fd;
}
.consumable-bottom-section .stats .quantity label,
.consumable-bottom-section .stats .effect label {
  font-weight: bold;
  font-size: 1.1rem;
}
.consumable-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.consumable-actions button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  height: fit-content;
}
.consumable-actions button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
* {
  scrollbar-color: #ffffff #ffffff00;
  font-family: 'Teko';
  color: #ffffff !important;
}
#logo {
  content: url('../assets/images/orv_logo.png');
  height: 100px;
}
.app {
  background-image: none;
  box-shadow: none;
}
.window-app .window-header {
  background-color: transparent;
  color: #ffffff;
  padding-top: 5px;
  border: none;
}
.window-app .window-header a {
  background-color: transparent;
  font-size: 0px;
  padding-top: 8px;
}
.window-app .window-header a i {
  background: none;
  font-size: 14px;
}
.window-app .window-header a span {
  font-size: 14px;
}
.window-app .window-header .window-title {
  padding-top: 5px;
}
.window-app .window-content {
  padding: 0;
  background-image: none;
  border-radius: 0 0 10px 10px;
  background-color: transparent;
}
p.notes {
  color: #ffffff;
}
li.chat-message.message {
  background-color: transparent;
  background-image: none;
  border: 2px solid #6ed0fd;
  box-shadow: 0 0 3px #102531 inset;
}
textarea {
  background-image: none !important;
  border: 2px double white;
}
textarea:focus {
  box-shadow: none;
}
#chat-controls .roll-type-select {
  background-color: transparent;
  border: 1px solid white;
}
.dice-roll .dice-formula {
  border: 1px solid white;
}
.dice-roll .dice-total {
  border: 1px solid white;
}
.dice-tooltip .dice-rolls .roll {
  color: #ffffff !important;
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: 0 0 3px #102531 inset !important;
}
.dice-tooltip .dice-rolls .roll.min {
  color: red !important;
}
.dice-tooltip .dice-rolls .roll.max {
  color: green !important;
}
a:hover {
  text-shadow: 0 0 10px #4f8cde;
}
i:hover {
  text-shadow: 0 0 10px #4f8cde;
}
input {
  border-color: #4f8cde;
  border: none;
  box-shadow: none;
}
input::placeholder {
  color: #ffffff;
}
input:focus {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
input:focus:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
input::selection {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
input::selection:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
input[type='text']:focus {
  border-color: #4f8cde;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
input[type='text']:focus:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
input[type='search'] {
  background: none;
  border-color: #ffffff;
}
input[type='search']::placeholder {
  color: #ffffff;
}
input[type='search']:focus {
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
input[type='search']:focus:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
select {
  border: 1px solid white;
}
select:focus {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid white;
}
select:focus:hover {
  box-shadow: 0 0 10px rgba(37, 186, 255), 0 0 20px rgba(37, 186, 255);
}
.directory .directory-header .header-search input {
  background-color: #ffffff00;
}
.tabs > [data-tab].active {
  text-shadow: 0 0 10px rgba(37, 186, 255);
}
option {
  background-color: #6ed0fd;
  color: #ffffff;
}
button {
  background-color: rgba(83, 178, 241, 0.7);
  font-family: 'Teko';
  border-color: white;
}
button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
button:hover:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
form button {
  background-color: rgba(0 0 0 1);
  font-family: 'Teko';
  border: 2px groove white;
}
form button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
form button:hover:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.app.window-app.ss1e.sheet.actor {
  background-image: url(../assets/images/ss1e-actor-sheet-background-eighty.png);
  background-position: center;
  background-size: cover;
  background-color: transparent;
  padding: 20px 24px;
  box-shadow: none;
}
.app.window-app.ss1e.sheet.actor .window-header {
  background-color: transparent;
}
.app.window-app.ss1e.sheet.actor .window-content {
  background-color: transparent;
}
.app.window-app.ss1e.sheet.actor nav.sheet-tabs.tabs {
  display: flex;
  position: absolute;
  left: 98.6%;
  top: 10%;
  flex-direction: column;
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png);
  border-top: 2px double white;
  border-bottom: 2px double white;
  border-right: 2px double white;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.app.window-app.ss1e.sheet.actor nav.sheet-tabs.tabs:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.app.window-app.ss1e.sheet.actor nav.sheet-tabs.tabs > [data-tab] {
  padding: 8px 12px;
}
.app.window-app.ss1e.sheet.actor nav.sheet-tabs.tabs > [data-tab].active {
  text-shadow: 0 0 10px #6ed0fd;
}
.app.window-app.ss1e.sheet.actor nav.sheet-tabs.tabs .item {
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-shadow: none;
  box-shadow: 0 0 2px #6ed0fd, 0 0 4px #6ed0fd;
  transition: box-shadow 0.3s ease-in-out;
  border: none;
  box-shadow: none;
}
.app.window-app.ss1e.sheet.actor nav.sheet-tabs.tabs .item:hover {
  box-shadow: 0 0 5px #6ed0fd, 0 0 10px #6ed0fd;
}
.app.window-app.ss1e.sheet.item {
  background-image: url(../assets/images/ss1e-item-sheet-background-eighty.png);
  background-position: center;
  background-size: cover;
  background-color: transparent;
  padding: 20px 24px;
  box-shadow: none;
}
.app.window-app.ss1e.sheet.item .window-header {
  background-color: transparent;
}
.app.window-app.ss1e.sheet.item .window-content {
  background-color: transparent;
}
h4.window-title {
  text-align: start;
  padding-left: 20px;
}
.dialog .window-header .header-button.control.close {
  display: none;
}
.dialog input {
  color: #ffffff;
}
.app.window-app.dialog {
  background-image: url(../assets/images/ss1e-dialog-background-eighty.png);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-shadow: none;
  font-size: 1rem;
}
.app.window-app.dialog .window-header {
  background-color: transparent;
}
.app.window-app.dialog .window-content {
  background-color: transparent;
}
.app.window-app.dialog .window-content .dialog-buttons button {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
  font-size: 1.2rem;
  margin: 5px;
  text-transform: uppercase;
  height: fit-content;
  width: 100px;
}
.app.window-app.dialog .window-content .dialog-buttons button:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
.app.window-app.dialog:has(.constellation-message) {
  background-image: url(../assets/images/ss1e-dialog-background-eighty.png);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-shadow: none;
  font-size: 1rem;
}
.app.window-app.dialog:has(.constellation-message) .window-header {
  background-color: transparent;
}
.app.window-app.dialog:has(.constellation-message) .window-header .window-title {
  display: none;
}
.app.window-app.dialog:has(.constellation-message) .window-content {
  background-color: transparent;
}
.app.window-app.dialog:has(.constellation-message) .window-content .dialog-buttons {
  display: none;
}
.app.window-app.dialog:has(.constellation-message) .window-content .constellation-message {
  text-align: center;
  font-size: 1.3rem;
}
nav#controls {
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png);
  background-color: transparent;
  border: 3px double white;
  border-radius: 8px;
  box-shadow: 0 0 3px #102531 inset;
}
nav#controls .scene-control {
  background: none !important;
  box-shadow: none;
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png);
}
nav#controls .scene-control.active {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
nav#controls .scene-control.active:hover {
  box-shadow: 0 0 20px rgba(37, 186, 255), 0 0 40px rgba(37, 186, 255);
}
nav#controls ol.control-tools > li {
  border: 1px solid white;
  box-shadow: 0 0 5px #6ed0fd, 0 0 10px #6ed0fd;
  transition: box-shadow 0.3s ease-in-out;
}
nav#controls ol.control-tools > li:hover {
  box-shadow: 0 0 20px #6ed0fd, 0 0 40px #6ed0fd;
}
nav#controls ol.control-tools > li.active {
  border: 1px solid white;
  border-bottom: 1px solid #6ed0fd;
  box-shadow: 0 0 10px #003c8b;
}
nav#controls ol.control-tools > li:hover {
  border: 1px solid #6ed0fd;
}
aside#players {
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png);
  background-color: transparent;
  border: 3px double white;
  border-radius: 8px;
  box-shadow: 0 0 3px #102531 inset;
  margin: 0;
  margin-top: 1px;
}
aside#players h3 {
  border-bottom: 2px groove white;
}
div#sidebar {
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png);
  background-color: transparent;
  border: 3px double white;
  border-radius: 8px;
  box-shadow: 0 0 3px #102531 inset;
}
nav#navigation {
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png);
  background-color: transparent;
  border: 3px double white;
  border-radius: 8px;
  box-shadow: 0 0 3px #102531 inset;
}
nav#navigation .nav-item {
  border: 1px solid white;
  margin: 4px;
}
nav#navigation #scene-list li {
  background-color: transparent !important;
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png) !important;
  border: 1px solid white !important;
  box-shadow: 0 0 10px rgba(37, 186, 255) !important;
}
.edit-mode-toggle {
  width: auto;
  top: 3.8%;
  position: absolute;
  left: 80%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  background-color: #ffffff00;
  border: none;
  box-shadow: none;
  font-family: 'Teko';
  height: fit-content;
}
#sidebar {
  background-image: none;
  border: 0;
}
#sidebar .directory-header {
  background-color: rgba(83, 178, 241, 0.7);
}
#sidebar #sidebar-tabs {
  box-shadow: 0 0 10px #6ed0fd;
  border-bottom: 1px solid #6ed0fd;
  margin-bottom: 1px;
}
#sidebar #sidebar-tabs .item {
  border: 1px solid #6ed0fd;
}
#sidebar #sidebar-tabs .item:hover {
  text-shadow: 0 0 10px #4f8cde;
}
#sidebar #sidebar-tabs .item.active {
  border: 1px solid #6ed0fd;
  text-shadow: 0 0 10px #4f8cde;
  box-shadow: 0 0 6px inset #4f8cde;
}
#sidebar #chat #chat-controls {
  margin: 0;
}
#sidebar #chat #chat-form {
  padding-bottom: 0;
}
#sidebar #chat #chat-form #chat-message {
  font-family: 'Teko';
  margin: 0;
  box-shadow: 0 0 4px #102531 inset;
}
.settings-sidebar h2 {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
#settings-game button {
  border: 1px solid white;
}
#settings-documentation button {
  border: 1px solid white;
}
#settings-access button {
  border: 1px solid white;
}
#keybindings,
#client-settings,
#module-management,
#world-config,
#tours-management,
#support-details,
#documentation,
#invitation-links,
#combat-config,
#folder-create,
#chat-popout,
.scene-sheet,
#combat-popout,
#scenes-popout,
#actors-popout,
#items-popout,
#journal-popout,
#tables-popout,
#cards-popout,
#playlists-popout,
#compendium-popout,
#settings-popout {
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png);
  border: 3px double white;
  box-shadow: 0 0 2px rgba(37, 186, 255), 0 0 4px rgba(37, 186, 255);
  transition: box-shadow 0.3s ease-in-out;
}
#keybindings:hover,
#client-settings:hover,
#module-management:hover,
#world-config:hover,
#tours-management:hover,
#support-details:hover,
#documentation:hover,
#invitation-links:hover,
#combat-config:hover,
#folder-create:hover,
#chat-popout:hover,
.scene-sheet:hover,
#combat-popout:hover,
#scenes-popout:hover,
#actors-popout:hover,
#items-popout:hover,
#journal-popout:hover,
#tables-popout:hover,
#cards-popout:hover,
#playlists-popout:hover,
#compendium-popout:hover,
#settings-popout:hover {
  box-shadow: 0 0 5px rgba(37, 186, 255), 0 0 10px rgba(37, 186, 255);
}
#hotbar .bar-controls {
  background-color: transparent;
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png);
  border: 1px solid white;
  box-shadow: 0 0 5px #102531 inset;
}
#hotbar #macro-list {
  border: 1px solid transparent;
}
#hotbar .macro {
  background-color: transparent;
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png);
  border: 1px solid white;
  box-shadow: 0 0 5px #102531 inset;
}
a#nav-toggle {
  background-color: transparent !important;
  background-image: url(../assets/images/ss1e-actor-sheet-tile-eighty.png) !important;
}
.directory .directory-item {
  border-top: 1px solid white;
}
.directory .directory-list > .directory-item:last-child,
h2.border,
h2.category-title,
.package-configuration aside.sidebar nav.tabs .category-tab.active,
.package-configuration aside.sidebar nav.tabs .category-tab {
  border-bottom: 1px solid white;
}
.combat-sidebar .combat-tracker-header {
  border-bottom: 2px groove white;
}
.package-configuration aside.sidebar {
  border-right: 1px solid white;
}
#keybindings .action {
  border-bottom: 1px dotted white;
}
