@import './character-inventory.less';

// Targets anything with the ss1e sheet actor character classes (must have all of them)
.ss1e.sheet.actor.character {
	// Targets anything with the header class within the parent class

	.sheet-title {
		// target children with ONLY the title class
		font-size: 2.5rem;
		font-weight: bold;
		color: @primary-text-color;
		flex-grow: 0; // makes it shrink and take up as little space as possible
		text-align: center;
	}
	.sheet-header {
		// center stuff
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 50%;
		&.info {
			color: @primary-text-color;
			font-size: 1rem;
			align-items: stretch; // move the name and age (and img) to the very top
			justify-content: space-between;

			.pfp-hp-mana {
				display: flex;
				flex-direction: column;
				justify-content: center;
				// flex: 1 1 50%; sheet is always 600px wide, im just gonna manually set all to 200 for now
				width: 180px;
				& img.profile-img {
					clip-path: polygon(
						15% 0,
						95% 0,
						100% 5%,
						100% 85%,
						85% 100%,
						5% 100%,
						0 95%,
						0 15%
					);
					border: none;
					.add-glow(@glow-color, 5px, 5px);
				}
				.picture-frame {
					border: none;
					position: absolute;
					top: 10.1%;
					left: -0.5%;
				}
				.hp-mana-container {
					//overlapping bars with picture, values are cringe nad will probably need ot be redone
					position: relative;
					bottom: 25px;
					margin-bottom: -25px; //resolves the awkward empty space between header info and combat stats

					.hp-block {
						.set-display-flex-row();
						justify-content: space-evenly;
						align-items: center;

						.hp-bar-container {
							width: 125px;
							height: 25px;
							background-color: @resource-container-color;
							border-bottom: 1px solid @subaccent-color;
							//   border-radius: 20% 20% 0px 0px;
							overflow: hidden;
							align-self: flex-end;
							position: relative;
							clip-path: polygon(
								10% 0,
								90% 0,
								100% 100%,
								0% 100%
							);

							.hp-bar {
								height: 100%;
								background-color: @hp-color;
								transition: width 0.3s ease;
								display: flex;
								justify-content: center;
							}
							& span {
								font-weight: normal;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
					.mana-block {
						.set-display-flex-row();
						justify-content: space-evenly;
						align-items: center;
						.mana-bar-container {
							width: 125px;
							height: 25px;
							background-color: @resource-container-color;
							border-top: 0;
							//   border-radius: 0px 0px 20% 20%;
							overflow: hidden;
							position: relative;
							clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);

							.mana-bar {
								height: 100%;
								background-color: @mana-color;
								transition: width 0.3s ease;
								display: flex;
								justify-content: center;
							}
							& span {
								font-weight: normal;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
			}
		}

		& div.info-container {
			// flex: 1 1 50%; // FUCK flexbox | this makes it grow & shrink & take up 50% of the available space
			display: flex;
			flex-direction: column;
			width: 180px;
			padding-left: 5px;
			& label {
				font-weight: bold;
				font-size: 1rem;
			}
			& span {
				font-size: 1.1rem;
			}
		}
		& div.attribute-container {
			// flex: 1 1 50%; // FUCK flexbox | this makes it share the space evenly with the info
			display: flex; // for moving around flexy children
			flex-direction: column; // make it column (by default it's in a row)
			font-weight: bold;
			width: 180px;
			padding-left: 5px;
			& .attributes {
				flex: 1 1 50%;
				display: flex;
				flex-direction: column;
				& label {
					font-weight: bold;
					font-size: 1rem;
				}
				& span {
					font-weight: normal;
					font-size: 1.1rem;
				}
			}
		}
	}
	.bottom {
		display: flex;
		flex-direction: row;
		.stat-container {
			flex: 1;
			display: flex;
			flex-direction: column;
			.stat-flexrow {
				display: flex;
				flex-direction: row;
				flex: 1;
				.combat-stat-block {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					flex: 1 1 50%;
					label {
						font-size: 1rem;
						font-weight: bold;
						text-transform: uppercase;
						margin-right: 40px;
					}
					.stat-numbers {
						display: flex;
						flex-direction: row;
						width: 60px;
						span {
							font-size: 1.1rem;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

& input.input-text {
	.remove-default-glow(); // call the mixin
	color: @primary-text-color;
	&::selection {
		background-color: @subaccent-color; // change the color when you select text, was red lol
	}
}

.body {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px; // spacing between sheet blocks
	& .resource-label {
		text-align: center;
	}

	& .stat-related {
		display: flex;
		flex-direction: row;
		.combat-stat-container {
			display: flex;
			flex-direction: column;
			flex: 1; // 1 10%;
			justify-content: space-evenly;

			& .action-point-container {
				display: flex;
				flex-direction: row;
				justify-content: center;
			}

			& .combat-stat-block {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				flex: 1;
				& label {
					font-size: 1rem;
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
					width: 90px !important;
				}
				.stat-numbers {
					display: flex;
					flex-direction: row;
					justify-content: center;
					width: 60px;
					flex: 1;
					& span {
						font-size: 1.1rem;
						text-align: center;
					}
				}
			}
		}

		& .stat-container {
			flex: 1; //1 50%; // FUCK flexbox | this makes it share the space evenly with the info
			display: flex; // for moving around flexy children
			flex-direction: column;
			& .stat-flexrow {
				display: flex;
				flex-direction: row;
				& .combat-stat-block {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;
					flex: 1 1 50%;
					& label {
						font-size: 1rem;
						font-weight: bold;
						text-transform: uppercase;
						width: 90px; // manual width for labels so they align properly
					}
					& span {
						font-size: 1.1rem;
						width: 60px;
						text-align: center;
					}
				}
				& button {
					margin: 5px;
					height: 30px;
					width: 30px;
				}
			}
		}
	}

	& .coin-container {
		flex-direction: column;
		font-size: 1rem;
		flex: 1;
		justify-content: space-evenly;
		align-content: center;
		.coin-text-container {
			flex: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: baseline;
		}
		& label {
			font-size: 1rem;
			font-weight: bold;
			text-transform: uppercase;
			flex: 0;
		}
		& span {
			font-size: 1.1rem;
			flex: 0;
		}
		& button {
			flex: 0;
			width: 140px;
		}
	}
	& button {
		border: 1px solid @main-border-color;
		border-radius: 5px;
		.add-glow(@glow-color, 2px, 5px);
		font-size: 1rem;
	}
}
