.ss1e.sheet.actor.character {
	.character-inventory {
		.sheet-inventory {
			.item-container {
				> div {
					display: grid;
					gap: 10px 10px;
					grid-auto-columns: 50px;
					grid-auto-rows: 50px;
					grid-template-columns: 5;
					grid-template-rows: 2;
				}
			}
		}
	}
}