@import "./config.less";
@import "./mixins.less";

// Targets anything with the ss1e sheet actor character classes (must have all of them)
.ss1e.sheet.actor.character {
	// Targets anything with the header class within the parent class
	.header {

		// center stuff
		display: flex;
		align-items: center;
		justify-content: center;

		&.title { // target children with ONLY the title class
			font-size: 2.5rem;
			font-weight: bold;
			color: @primary-text-color;
			flex-grow: 0; // makes it shrink and take up as little space as possible
		}
		&.info {
			color: @primary-text-color;
			font-size: 1.5rem;
			align-items: flex-start; // move the name and age (and img) to the very top
			
			& img.profile-img {
				border: none;
				.add-glow(@glow-color, 5px, 20px);
				margin: 10px; // make it have a little space around
			}

			& div.info-container {
				flex: 1 1 50%; // FUCK flexbox | this makes it grow & shrink & take up 50% of the available space
				& label {
					font-weight: bold;
					font-size: 1.1rem;
				}
			}
			& div.resource-container {
				flex: 1 1 50%; // FUCK flexbox | this makes it share the space evenly with the info
				display: flex; // for moving around flexy children
				flex-direction: column; // make it column (by default it's in a row)
				justify-content: center;
				align-items: center;
				font-weight: bold;
				& label {
					font-size: 1.1rem;
				}
				& span {
					font-weight: normal;
					&.health { // target any span and then sub-target the specific classes, cool stuff
						color: @hp-color;
					}
					&.mana {
						color: @mana-color;
					}
				}
				& button {
					.remove-default-glow(); // call the mixin
					.add-glow(@glow-color, 2px, 5px);
					font-family: @font;
				}
			}

			& input.input-text {
				.remove-default-glow(); // call the mixin
				color: @primary-text-color;
				&::selection {
					background-color: @subaccent-color; // change the color when you select text, was red lol
				}
			}
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		& .resource-label {
			text-align: center;
		}

		& .stat-related {
			display: flex;
			flex-direction: row;
			& .attributes {
				flex: 1 1 50%;
			}
			& .stat-container {
				flex: 1 1 50%; // FUCK flexbox | this makes it share the space evenly with the info
				display: flex; // for moving around flexy children
				flex-direction: column;
				& .stat {
					& .resource-label {
						flex: 1 1 10%;
					}
					padding-bottom: 10px;
					align-items: center;
					& button {
						margin-left: 5px;
					}
				}
			}
		}

		& .coin-container {
			flex-direction: row;
		}
		& button {
			.remove-default-glow(); // call the mixin
			.add-glow(@glow-color, 2px, 5px);
			font-family: @font;
		}
	}
}