// -- START OF COLORS --

//Transparent
@transparent: #ffffff00;

// Main background
@background-color: rgba(37, 186, 255, 0.4);

// Main text
@primary-text-color: rgb(255, 255, 255);

// Accents
@accent-color: #4fc4fa;
@subaccent-color: #1807af;

// Buttons
@button-color: #28aae6;

// Glow
@glow-color: rgba(37, 186, 255);

// HP & MANA
@hp-color: #65f3db;
@mana-color: #1807af;

// -- END OF COLORS --

// -- START OF FONTS --
@font: 'Teko';
