//Color variables
@background-color: rgba(37, 186, 255, 0.5);
@stat-container-color: rgba(37, 186, 255, 0.1);
@primary-text-color: rgb(255, 255, 255);
@accent-color: #4fc4fa;
@subaccent-color: #1807af;
@button-color: #28aae6;
@label-color: #ffffff;
// A font variable, check actor-character-sheet.hbs
// Imported it from google as a stylesheet href link whatever
@constellation-font: 'Teko';
// removes shit padding, rounds corners of window
.window-app .window-content {
	padding: 0;
	background-image: none;
}
form.constellation.form {
	background-color: @background-color;
	border-radius: 10px;
	font-family: @constellation-font;
}

// Targets anything with the ss1e sheet actor character classes (must have all of them)
.ss1e.sheet.actor.constellation.header {
	// Sets the font for everything

	.header {
		.remove-glow {
			// "mixin" function, call it like a macro later
			color: @label-color;
			border: none;
			box-shadow: none;
		}

		// center stuff
		display: flex;
		align-items: center;
		justify-content: center;

		&.title {
			// target children with ONLY the title class
			font-size: 2rem;
			font-weight: bold;
			color: @label-color;
			flex-grow: 0; // makes it shrink and take up as little space as possible
		}
		&.info {
			color: @label-color;
			font-size: 1.5rem;
			align-items: flex-start; // move the name and age (and img) to the very top

			& img.profile-img {
				border: none;
				box-shadow: 0 0 10px @subaccent-color; // add a cute shadow to the image
				margin: 10px; // make it have a little space around
				// ps don't use padding, use margin, keeps the border or shadow stuck to the image
				// padding leaves space and then adds the border/shadow to the original place the image was at
			}
			& div.info-container {
				flex: 1 1 50%; // FUCK flexbox | this makes it grow & shrink & take up 50% of the available space
				& label {
					font-weight: bold;
					font-size: 1.1rem;
				}
				& input.input-text {
					font-weight: bold;
					color: @primary-text-color;
					.remove-glow(); // call the mixin
					&::selection {
						background-color: @subaccent-color; // change the color when you select text, was red lol
					}
				}
			}
		}
	}
}
.ss1e.sheet.actor.constellation.actions {
	display: flex;
	flex-direction: column;
	flex: 1 1 50%;
	.ss1e.sheet.actor.constellation.coins {
		font-family: @font;
		display: flex;
		flex-direction: row;
		flex: 0 1 auto; /* Prevents stretching */
		justify-content: space-between; /* Space items evenly without large gaps */

		div.coin-counter {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			label {
				font-size: 1.5rem;
				color: @label-color;
			}
			input {
				font-size: 1.5rem;
				color: @label-color;
				border: none;
				box-shadow: none;
				width: 50%;
				&::selection {
					background-color: @subaccent-color;
				}
			}
		}

		div.coin-buttons {
			display: flex;
			flex-direction: row;
			justify-content: center;

			button {
				font-size: 1.3rem;
				color: @primary-text-color;
				width: 50%;
				height: auto;
				border: 0;
				&:hover {
					box-shadow: 0 0 6px @subaccent-color;
				}
			}
		}
	}
	.ss1e.sheet.actor.constellation.messages {
		display: flex;
		flex-direction: column;
		flex: 0 1 auto;
		.message-top-section {
			display: flex;
			flex-direction: column;
			.message-recipient {
				display: flex;
				justify-content: space-evenly;
				margin: 15px;
			}
			label {
				font-size: 1.5rem;
				color: @label-color;
			}
			select {
				font-size: 1.5rem;
				color: @label-color;
				border: none;
				&::selection {
					background-color: @subaccent-color;
				}
			}
			.message-recipient-dropdown {
				padding: 0;
			}
			.message-recipient-option {
				background-color: @background-color;
				color: @primary-text-color;
			}
		}
	}
	.preset-message-buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		button {
			font-size: 1rem;
			width: 20%;
			color: @primary-text-color;
			border: 0;
			margin: 2px;
			&:hover {
				box-shadow: 0 0 6px @subaccent-color;
			}
		}
	}
	.message-bottom-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		label {
			font-size: 1.5rem;
			color: @label-color;
			margin: 10px;
		}
		input {
			font-size: 1.5rem;
			color: @label-color;
			box-shadow: none;
			border-color: @subaccent-color;
			width: 75%;
			margin: 10px;
			&::selection {
				background-color: @subaccent-color;
			}
		}
		button {
			font-size: 1.3rem;
			color: @primary-text-color;
			height: auto;
			width: 50%;
			margin: 10px;
			border: 0;
			&:hover {
				box-shadow: 0 0 6px @subaccent-color;
			}
		}
	}
}

.constellation-sheet-button {
	font-family: @constellation-font;
}
.actor-sheet-label,
.actor-sheet-input {
	font-family: @constellation-font;
}
