// Removes text from Options, Token & Close buttons
// From the topbar
.window-app .window-content {
	padding: 0;
	background-image: none;
}

.window-header a {
	font-size: 0px;
}

.window-header a i {
	font-size: 14px;
}

.window-header a span {
	font-size: 14px;
}
