<div class='preset-message-buttons'>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='is saddened by the situation.'
    data-cost='200'
  >SADNESS</button>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='is disgusted by what transpired.'
    data-cost='200'
  >DISGUST</button>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='rejoices at the sight!'
    data-cost='200'
  >JOY</button>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='sighs in boredom.'
    data-cost='200'
  >BORED</button>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='is angered by the choices made!'
    data-cost='200'
  >ANGER</button>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='jumps up and down with excitement!'
    data-cost='200'
  >EXCITED</button>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='is covering their eyes!'
    data-cost='200'
  >CANT LOOK</button>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='has tears streaming down their face!'
    data-cost='200'
  >CRY</button>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='has joined channel EN-305.'
    data-cost='0'
  >JOIN</button>
  <button
    class='constellation-sheet-button'
    data-action='sendPresetGmboard'
    data-message='has left channel EN-305.'
    data-cost='0'
  >LEAVE</button>
  <!-- Add more buttons as needed -->
</div>