<div class='sheet-inventory'>
	<div class='resource-label' id="drop-zone">ADD ITEM</div>

	<div class='item-container'>
		<ul>
			{{#each system.items}}
				<li class="inventory-item" data-item-id="{{this._id}}">
					<span class="item-name">{{this.name}}</span> 
				</li>
			{{/each}}
		</ul>
	</div>
</div>
