<div class='sheet-inventory'>
	<div class='resource-label' id="drop-zone">ADD ITEM</div>

	<div class='item-container'>
		{{#each system.items}}
		<button title="{{this.name}}" class="item-equip" data-item-id="{{this._id}}">
			<img src="{{this.img}}"></img>
		</button>
		{{/each}}
	</div>
</div>