<form class='{{cssClass}} {{actor.type}} flexcol' autocomplete='off'>
	<nav class='sheet-tabs tabs'>
		<a class='item' data-tab='features'>Dialog and Coins</a>
		<a class='item' data-tab='inventory'>Scenario Builder</a>
		<a class='item' data-tab='abilities'>Abilities</a>
		<!-- Add more tabs as necessary -->
	</nav>
	<section class='ss1e sheet actor gmboard'>
		<div class='sheet-body'>
			<div class='tab' data-tab='features'>
				<div class='message-recipient'>
					<label for='gmboardMessageRecipient' class=''>Select Message
						Recipient:</label>
					<select
						id='gmboardMessageRecipient'
						name='gmboardMessageRecipient'
						class='message-recipient-dropdown'
					>
						<option
							value='public'
							class='message-recipient-option'
						>Public</option>
						{{#each players}}
							<option
								value='{{this.id}}'
								class='message-recipient-option'
							>{{this.name}}</option>
						{{/each}}
					</select>
					<div class='message-bottom-section'>
						<label for='gmboardMessageInput' class=''>Type a custom message:</label>
						<input
							type='text'
							id='gmboardMessageInput'
							class=''
							placeholder=''
						/>
						<button
							class='constellation-sheet-button'
							data-action='sendGmboardCustom'
						>Send Custom Message</button>
					</div>
				</div>
			</div>
			<div class='tab' data-tab='inventory'>
				<div id='scenario-form'>
					<label for='scenario-name'>Scenario Name:</label><br />
					<input type='text' id='scenario-name' name='scenario-name' /><br />
					<label for='scenario-category'>Scenario Category</label><br />
					<input type='text' id='scenario-category' name='scenario-category' />
					<label for='scenario-difficulty'>Difficulty</label><br />
					<input
						type='text'
						id='scenario-difficulty'
						name='scenario-difficulty'
					/>
					<label for='scenario-conditions'>Clear conditions:</label><br />
					<textarea
						id='scenario-conditions'
						name='scenario-conditions'
						rows='10'
						cols='30'
					>1. Condition 1</textarea>
					<label for='scenario-time-limit'>Time Limit:</label><br />
					<input
						type='text'
						id='scenario-time-limit'
						name='scenario-time-limit'
					/>
					<label for='scenario-reward'>Reward:</label><br />
					<input type='text' id='scenario-reward' name='scenario-reward' />
					<label for='scenario-fail'>Failure Penalty:</label><br />
					<input type='text' id='scenario-fail' name='scenario-fail' />
					<label for='scenario-notes'>Notes:</label><br />
					<textarea
						id='scenario-notes'
						name='scenario-notes'
						rows='10'
						cols='30'
					>Scenario notes here</textarea>
					<button type='submit' id='scenario-submit'>INITIATE SCENARIO</button>
				</div>
			</div>
			<div class='tab' data-tab='abilities'> last page</div>
		</div>
	</section>
</form>